@model IEnumerable<Components.Domains.Order>

@{
    ViewBag.Title = "参与列表";
}

<h2>@ViewBag.Title</h2>


<table class="table">
    <tr>
        <th>
            产品名称
        </th>
        <th>
            用户ID
        </th>
        <th>
            参与时间
        </th>
        <th>
            是否中奖
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Products.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Users.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsWin)
        </td>
       
    </tr>
}

</table>
